/* main content */
.container{
    position: relative;
    display:flex;
    flex-direction: column;
    z-index:0;
    width:80%;
    margin-left: 10%;
    margin-top: 30px;
    align-items: center;
}

/* Introduction */
.introduction{
    font-size: 20px;
    display: flex;
    background: rgb(63, 185, 255);
    border-radius: 20px;
    padding: 15px 20px;
}
@media screen and (max-width: 780px) {
    .introduction{
        font-size: 17px;
    }
}
@media screen and (max-width: 560px) {
    .introduction{
        font-size: 15px;
    }
}
@media screen and (max-width: 370px) {
    .introduction{
        font-size: 12px;
    }
}